{{ define "index.tmpl" }}
<html>
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link href="/static/tailwind.min.css" rel="stylesheet">
  </head>
  <body class="bg-gray-200">
    <div class="flex h-screen">
      <div class="m-auto bg-white p-6 rounded-lg shadow text-7xl text-center">
        <img src="/static/rmit-logo.png" width="300" height="105"/> 
        ❤️
        <br/><img src="/static/ceitra-logo.png" width="300" height="100"/>
      </div>
    </div>
  </body>
</html>
{{ end }}